.flat-button {
    color: #5699c3;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #5ea3d9;
    margin-top: 25px;
    float: left;
    align-items: center;
    animation: fadeInAnimation 1s 2.8s backwards;
    white-space: nowrap;

    &:hover {
        background: #ffd700;
        color: #333;
    }
}